* {
    margin: 0;
}

@font-face {
    font-family: "MontserratBold", sans-serif;
    src: url('./fonts/Montserrat-Bold.ttf') format('ttf');
}

@font-face {
    font-family: "MontserratRegular", sans-serif;
    src: url("./fonts/Montserrat-Regular.ttf") format('ttf');
}

a, a:link, a:visited, a:active {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: "MontserratRegular", sans-serif;
    background-color: #edf8ed;
}

#root {
    width: 100%;
    height: auto;
}

#app {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1180px;
    width: Calc(100% - 20px);
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

/* HEADER */

header {
    width: 100%;
    height: auto;
    background-color: #434743;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header section#logo {
    width: 100%;
    height: auto;
}

header section#logo img {
    width: 200px;
    height: auto;
}

header nav#navbar {
    width: Calc(100% - 40px);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

header nav#navbar h4 {
    cursor: pointer;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 2px;
    text-transform: capitalize;
}

header nav#navbar h4 img {
    width: 18px;
}

header nav#navbar h4.login-name {
    color: #FFF;
    font-weight: 700;
    background: none;
    padding: 0 10px;
    margin: 0;
}

/* FOOTER */

footer {
    width: 100%;
    height: auto;
    color: #FFF;
    background-color: #008000;
    position: fixed;
    bottom: 0;    
}

footer .container {
    text-align: center;
}

/* HOME */

#content {
    width: 100%;
    height: auto;
    background-color: #edf8ed;
}

#content .container {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

#content .item-product-home {
    width: 300px;
    height: 400px;
    margin: 10px;
    text-align: center;
    background-color: #d3e5d3;
    border-radius: 8px; 
}

#content .item-product-home img {
    width: Calc(100% - 20px);
    height: auto;
    margin: 10px;
    border-radius: 8px;
}

#content .item-product-home button {
    color: #FFF;
    background-color: #008000;
    border: 0 none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;    
}

#content .item-product-home button:focus {
    outline: 0 none;
    border: 0 none;
}

/* LOGIN */

#login {
    width: 100%;
    height: 100vh;
    background-color: #edf8ed;
}

#login .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login #content {
    width: 280px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    gap: 10px 0;
}

#login #content input {
    width: 100%;
    height: 20px;
    padding: 5px;
    border: 2px solid #008000;
    border-radius: 8px;
}

#login #content label {
    font-weight: 700;
}

#login #content input:focus {
    outline: 0 none;
    border: 2px solid #008000;
    border-radius: 8px;
}

#login #content button {
    color: #FFF;
    background-color: #008000;
    border: 0 none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2rem;   
}

#login #content button:focus {
    outline: 0 none;
    border: 0 none;
}

#login #content h2 {
    text-align: center;
}

#login #content h4 {
    width: 100%;
    padding: 5px 10px;
    background-color: #000;
    color: #FFF;
    text-align: center;
    border-radius: 8px;
}

#login #content hr {
    width: 100%;
    height: 2px;
}

/* CART */

#cart-content {
    width: 100%;
    height: auto;
}

#cart-content .container {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#cart-content h4#qtd-product {
    width: 100%;
    text-align: center;
}

#cart-content .item-product-cart {
    width: Calc(100% - 40px);
    height: auto;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background-color: #d3e5d3;       
}

#cart-content .item-product-cart-sec-01 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

#cart-content .item-product-cart img {
    height: 150px;
    border-radius: 8px;
}

#cart-content .item-product-cart .quantity {
    display: flex;
    align-items: center;
    gap: 10px;    
}

#cart-content .item-product-cart .quantity h4 {
    font-size: 1.2rem; 
}

#cart-content .item-product-cart .quantity h4 span {
    cursor: pointer;
}

#cart-content .item-product-cart .remover {
    position: relative;
}

#cart-content .item-product-cart .remover h3 {
    font-size: 1.2rem;
    padding: 5px 10px;
    background-color: #008000;
    color: #FFF;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    left: auto;
    right: 0;
    z-index: 5;
}

#cart-content #total-price {
    width: 100%;
    padding: 20px 0;
}

#cart-content #sem-product {
    width: 100%;
    text-align: center;
}

#cart-content #sem-product img {
    width: 280px;
}

#cart-content #total-price h3 {
    text-align: center;    
}

#cart-content #total-price span {
    color: #008000;
}

@media(max-width: 720px) {
    .container {
        max-width: Calc(100% - 20px);
        padding: 10px;
    }

    /* HEADER */
    header .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    header section#logo {
        text-align: center;
    }

    header nav#navbar {
        justify-content: center;
    }

    header nav#navbar h4 {
        margin-top: 10px;
    }

    /* LOGIN */

    #login #content {
        align-items: flex-start;
    }

    /* CART */

    #cart-content #sem-product img {
        width: 230px;
    }
}